<footer class="footer">
    <nav class="footer__nav footer__nav1">
        <a href="#" class="footer__nav1--link">Link1</a>
        <a href="#" class="footer__nav1--link">Link2</a>
        <a href="#" class="footer__nav1--link">Link3</a>
        <a href="#" class="footer__nav1--link">Link4</a>
    </nav>
    <nav class="footer__nav footer__nav2">
        <a href="https://m.facebook.com/login/?locale=es_ES" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://plus.google.com/" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a>
    </nav>
</footer>
