<header class="header">
  <div class="header__container">
    <img class="header__container--logo" src="./assets/images/logo.png" alt="logo de prueba" title="logo de prueba" />
    <h1 class="header__container--title">Prueba técnica</h1>
  </div>
  <nav class="header__nav">
    <a href="#" class="header__nav--link">Link1</a>
    <a href="#" class="header__nav--link">Link2</a>
    <a href="#" class="header__nav--link">Link3</a>
    <a href="#" class="header__nav--link">Link4</a>
  </nav>
</header>